.header{
    height: 4rem;
    background-color: bisque;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > button{
    padding: 5px;
    border-radius: 5px;
}